<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label><b>Event Info</b></label>
    <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
        <thead style="background-color: cornflowerblue; color: white;">
            <tr>
                <th style="text-align: left;">ID</th>
                <th style="text-align: left;">Name</th>
                <th style="text-align: left;">Description</th>
                <th style="text-align: left;">Start Date</th>
                <th style="text-align: left;">Start Time</th>
                <th style="text-align: left;">End Date</th>
                <th style="text-align: left;">End Time</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody style="font-family: Arial; font-size: 9pt;">
            <% for (let iCount = 0; iCount < myevent.length; iCount++) { %>
                <tr>
                    <td><%= myevent[iCount].EventID %></td>
                    <td><%= myevent[iCount].EventName %></td>
                    <td><%= myevent[iCount].EventDescription %></td>
                    <td><%= myevent[iCount].StartDate %></td>
                    <td><%= myevent[iCount].StartTime %></td>
                    <td><%= myevent[iCount].EndDate %></td>
                    <td><%= myevent[iCount].EndTime %></td>
                    <td style="text-align: center;">
                        <form action="/editEvent/<%= myevent[iCount].EventID %>" method="GET">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td style="text-align: center;">
                        <form action="/deleteEvent/<%= myevent[iCount].EventID %>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <br><br>
    <form action="/addEvent" method="GET">
        <button type="submit">Add Event</button>
    </form>
</body>
</html>